doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Virtual Reality

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    style.
      @@font-face{
        font-family : 'bruf';
        src : url('font/Moonlights on the Beach.ttf') format('ttf');
      }

      strong{
      font-weight : normal;
      color: white;
      font-family :  $font-family-seri ;
      }

  body

    article.slide
      section
        img(src="images/ocu.gif" class='fill')
        .credit Kami mengucapkan Terimakasih kepada :&nbsp;
           b Google , Pak Rudy , All Fake Friend
      
        .box.left
          h1 <span class="animated infinite bounce">Virtual-Reality-2017</span>
          h2 <strong >by</strong>
          .mid Dubasata
          img(src="images/tiar2.jpg" class='me')
          img(src="images/tere.jpg" class='me')
          img(src="images/ju.jpg" class='me')
          <br>
          <br>
          p Tiartha Sitanggang - 151112416
          p Juang Nasution -151112637
          p Theresia Butarbutar - 151111488
          
            h2 A <a href="https://www.npmjs.com/browse/keyword/bespoke-theme" target="off">Bespoke.js</a> theme

      section
        img.fill(src="images/damn.gif" class='fill')
        .box
         h2 Definisi Virtual Reality
         p Virtual reality (VR) atau realitas
            span.nope  Cinta 
            | maya adalah teknologi yang membuat pengguna dapat <br> berinteraksi dengan suatu lingkungan yang disimulasikan oleh komputer (computer-simulated environment), <br> suatu lingkungan sebenarnya yang ditiru atau benar-benar suatu lingkungan yang hanya ada dalam imaginasi.


      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img.fillwb(src="images/history.jpg" class='fill')
        .box.bottom
          h2<span class="animated bounceInLeft"> Sejarah Virtual Reality
          p.bullet Pada 1968, Ivan Sutherland yang juga menjabat sebagai associate professor of electrical engineering di Harvard University, dan muridnya Bob Sproull menciptakan VR/ AR dengan sistem mounted display (HMD),alat tersebut bernama the sword of democles.  walaupun sangat berat alat tersebut terdapat binocular display dan head tracking, sejak saat itu semakin banyak penemuan dari  berbagai ilmuwan.  
          p.bullet 1972: General Electric mengembangkan simulator komputer pertama untuk penerbangan.
          p.bullet 1977: Sayre Gloves pertama kali didokumentasikan.
          p.bullet 1979: Militer mulai bereksperimen dengan headset simulasi
          p.bullet 1980: Peta interaktif virtual pertama dibuat
          p.bullet 1981: Thomas Furnes mengembangkan “Virtual Cockpit”
          p.bullet 1985: Pengembangan sistem praktis pertama dari viewfinder stereo    
          p.bullet 1990: Surge Sense8 ditemukan oleh Pat Gelband       
          p.bullet 1991: W. Industries membangun Virtuality, dengan headset dan kacamata untuk melihat VR kemudian muncul dalam karya-karya fiksi ilmiah seperti di film Startrek.


      section
        img.fillwb(src="images/space.jpg" class='fill')
        .box.top
          h2<span class="animated bounceInLeft"> Elemen Virtual Reality
        .bullet
        .box2.top.left.bullet
          h4.span.em-green.kaka Virtual World
          p Sebuah konten yang menciptakan<br>dunia virtual dalam bentuk screenplay<br>maupun script yang merupakan komponen<br>utama dari Virtual Reality agar tercipta<br>sebuah visual virtual.
        .box4.bullet
          h4.span.em-red.kaka Interactivy
          p  Yang bertugas untuk merespon aksi<br>dari pengguna,sehingga pengguna dapat<br> berinteraksi langsung dalam medan<br>fiktif atau virtual world
        .box3.bullet
           h4.span.em-yellow.kaka Immersion
           p Sebuah sensasi yang membawa<br>pengguna teknologi Virtual Reality<br>merasakan ada di sebuah lingkungan nyata yang<br>padahal fiktif atau virtual
        .box22.bullet
           h4.span.em-blue.kaka Sensory Feedback
           p Berfungsi untuk menyampaikan informasi<br>dari virtual world ke indera penggunanya.<br>Elemen ini mencakup visual<br> (penglihatan), audio (pendengaran) dan sentuhan

     


     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img.fillwb(src="images/Virtual-Reality.jpg" class='fill')
        .box.bottom
          h2<span class="animated bounceInLeft"> ALat-alat Virtual Reality
       
      section
        h2 Software Virtual Reality
        
      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')